<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body class='login-window'>
<div class='login'>
    <form action="" method="post">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" name="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password">
        <label>
            <input type="checkbox" checked="checked" name="remember">Remember me</input>
        </label>
        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
